/*NAV*/
nav {
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 30px 0px 30px; /* atas kanan bawah kiri */
  position: absolute;
  z-index: 2;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

nav ul li {
  font-size: larger;
  font-weight: bolder;
  color: white;
}
nav ul li:hover {
  cursor: pointer;
  color: #ff0000;
  transition: all 0.3s ease;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-btn {
  padding: 10px 100px 10px 30px;
  border-radius: 20px;
  border: 2px solid #969696;
  background-color: rgba(255, 255, 255, 0.28);
  color: white;
}

.search-btn::placeholder {
  color: #e0e0e0;
  font-weight: 500;
}

.search-btn:hover {
  cursor: text;
}

nav img {
  height: 35px;
  width: 35px;
  border-radius: 50px;
  border: 2px solid #969696;
}
nav img:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.3s ease;
}
.login-navbar{
  padding: 5px 15px 5px 15px;
  border-radius: 8px;
  font-size: medium;
  font-weight: bolder;
  cursor: pointer;
  background-color: rgba(54, 54, 54, 0.405) ;
  color: white;
  border: solid 2px #969696;
}
.data{
  background-color: #e0e0e000;
  border: none;
  font-size: large;
  font-weight: bold;
  color: white;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
}
.data option{
  background-color: #2a2a2a;  
  color: #ffffff;           
  padding: 8px;
  border: none;
  box-shadow: none;
  font-style: none;
  font-size: smaller;
}
/*NAV END*/