.container-rating{
    margin: 0 100px 0 100px;
   
}
.horizontal-banner{
    width: 100%;
    height: 400px;
    background-image:
        linear-gradient(to bottom, rgba(0,0,0,0.75), rgba(0,0,0,0.05)),
        url("https://i.pinimg.com/736x/d2/8e/7d/d28e7da6684d2f604733f1b8f25e83af.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.vertical-banner{
    width: 300px;
    height: auto;
    margin: 10px;
}
.table-col-left{
    width: 25%;
    vertical-align: top;
}
.table-col-right{
    vertical-align: top;
}
h1, p, label{
    color: white;
    margin-bottom: 20px;
}
.h3-left{
    margin-left:10px ;
}
.buttons-rating button{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}
.buttons-rating button:hover{
  transform: scale(1.1);
  transition: all 0.3s ease;
}
.background-hitam{
  background-color: rgb(26, 26, 26);
}
